<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">
    <form th:id="showresult" th:action="@{/user/findPwd}" method="post">
        <div class="mb-3">
            <label for="inputEmail" class="form-label">가입하신 계정의 이메일을 입력하세요</label>
            <input type="text" name="inputEmail" id="inputEmail" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">확인</button>
    </form>
    <div th:id="notice" class="alert alert-danger" role="alert" style="display: none;">
        가입하신 계정이 없습니다.
    </div>
    <div th:id="notice1" class="alert alert-danger" role="alert" style="display: none;">
        가입하신 아이디 : default
    </div>
</div>
<script layout:fragment="script" type='text/javascript'>
document.getElementById('showresult').addEventListener('submit', function(event) {
    event.preventDefault();
    var formData = new FormData(this);

    fetch('/user/findPwd', {
        method: 'POST',
        body: formData
    })
    .then(response => response.text())
    .then(data => {
        var notification = document.getElementById('notice');
        if (data.trim() !== '') {
            var a = '가입하신 이메일로 임시 비밀번호를 전송했습니다.';
            window.alert(a);
            notification.innerHTML = '가입하신 이메일 : '+data;
            notification.classList.remove('alert-danger');
            notification.classList.add('alert-success');
            notification.style.display = 'block';
        } else {
            window.alert('가입하신 계정이 없습니다.')
        }
    })
    .catch(error => console.error('Error:', error));
});
</script>
</html>