<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">
    <form th:id = formContainer th:action="@{/user/findId}" method="post">
        <div class="mb-3">
            <label for="inputEmail" class="form-label">가입하신 계정의 이메일을 입력하세요</label>
            <input type="text" name="inputEmail" id="inputEmail" class="form-control">
            <button type="submit" class="btn btn-primary">확인</button>
        </div>
    </form>
    <div th:id="notification" class="alert alert-danger" role="alert" style="display: none;">
        가입하신 계정이 없습니다.
    </div>
</div>
<script layout:fragment="script" type='text/javascript'>
document.getElementById('formContainer').addEventListener('submit', function(event) {
    event.preventDefault();
    var formData = new FormData(this);

    fetch('/user/findId', {
        method: 'POST',
        body: formData
    })
    .then(response => response.text())
    .then(data => {
        var notification = document.getElementById('notification');
        if (data.trim() !== '') {
            notification.innerHTML = '아이디는 ' + data + '입니다.';
            notification.classList.remove('alert-danger');
            notification.classList.add('alert-success');
            notification.style.display = 'block';
        } else {
            notification.innerHTML = '가입하신 계정이 없습니다.';
            notification.classList.remove('alert-success');
            notification.classList.add('alert-danger');
            notification.style.display = 'block';
        }
    })
    .catch(error => console.error('Error:', error));
});
</script>
</html>