<html layout:decorate="~{layout}">
<script th:inline="javascript">
    $(document).ready(function() {
        $('#findIdForm').submit(function(event) {
            event.preventDefault();
            var email = $('#inputEmail').val();

            $.ajax({
                type: "POST",
                url: "/findId",
                data: { inputEmail: email },
                success: function(data) {
                    // 성공했을 때 find_id.html에서 #content를 비동기적으로 갱신하여 결과를 표시
                    $('#resultContainer').load('find_id.html #content');
                },
                error: function(xhr, status, error) {
                    console.error('에러 발생:', error);
                }
            });
        });
    });
</script>
<div layout:fragment="content" class="container my-3">
    <form th:action="@{/user/findId}" method="post">
        <div class="mb-3">
            <label for="inputEmail" class="form-label">가입하신 계정의 이메일을 입력하세요</label>
            <input type="text" name="inputEmail" id="inputEmail" class="form-control">
            <button type="submit" class="btn btn-primary">확인</button>
        </div>
    </form>
</div>

<div layout:fragment="resultContainer">
    <div th:fragment="resultFragment">
        <p th:text="${account.username}">아이디: </p>
    </div>

    <div th:fragment="errorFragment">
        <p>일치하는 아이디를 찾을 수 없습니다.</p>
    </div>
</div>
</html>