<nav th:fragment="navbarFragment" class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
    <div class="container">
        <a class="navbar-brand" href="/">Board</a>
        <!-- 로그인과 회원가입 버튼은 비로그인 상태에서만 보이도록 설정 -->
        <div sec:authorize="isAnonymous()" class="d-flex">
            <a class="btn btn-outline-primary me-2" th:href="@{/user/login}">로그인</a>
            <a class="btn btn-primary" th:href="@{/user/signup}">회원가입</a>
        </div>

        <!-- 로그인 후 드롭다운 메뉴 버튼 -->
        <div sec:authorize="isAuthenticated()" class="d-flex">
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown"
                        aria-expanded="false">
                    메뉴 열기
                </button>
                <form th:action="@{/user/logout}" method="post" id="logoutForm" style="display:none;"></form>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <li> <a class="dropdown-item" href="#" onclick="document.getElementById('logoutForm').submit(); return false;">
                        로그아웃
                    </a></li>
                    <li><a class="dropdown-item" th:href="@{/user/chkinfo}">비밀번호 변경</a></li>
                    <li><a class="dropdown-item" th:href="@{/user/showQNA}">내가 쓴 글 확인</a></li>

                    <li sec:authorize="hasRole('ADMIN')">
                        <a class="dropdown-item" th:href="@{/admin/dashboard}">관리자 페이지</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
<script layout:fragment="content">
        document.addEventListener('DOMContentLoaded', function () {
            var dropdowns = document.querySelectorAll('.dropdown-menu');
            dropdowns.forEach(function (dropdown) {
                dropdown.addEventListener('show.bs.dropdown', function (event) {
                    var rect = dropdown.getBoundingClientRect();
                    var viewportWidth = window.innerWidth;
                    if (rect.right > viewportWidth) {
                        dropdown.style.left = 'auto';
                        dropdown.style.right = '0';
                    } else {
                        dropdown.style.left = '0';
                        dropdown.style.right = 'auto';
                    }
                });
            });
        });
</script>