<!DOCTYPE HTML>
<html>
{{>layout/header}}
<head>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }

        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }

        td a {
            text-decoration: none;
            color: #007bff;
            font-weight: bold;
        }

        td a:hover {
            color: #0056b3;
        }

        .date {
            white-space: nowrap;
        }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<table>
    <thead>
    <tr>
        <th>번호</th>
        <th>제목</th>
        <th>작성일시</th>
    </tr>
    </thead>
    <tbody>
    {{#paging}}
        <tr>
            <td><a href="/questions/detail/{{uploadnumber}}">{{uploadnumber}}</a></td>
            <td>{{title}}</td>
            <td class="date">{{nowtime}}</td>
        </tr>
    {{/paging}}
    </tbody>
</table>
    <ul class="pagination justify-content-center">
        <!--이전이 있으면-->
        {{#hasPrev}}
            <li class="page-item">
                <a class="page-link" href="?page={{previous}}">
                <span>이전</span>
                </a>
            </li>
        {{/hasPrev}}
        <!--이전이 없으면-->
        {{^hasPrev}}
            <li class="page-item disabled">
                <a class="page-link" href="?page={{previous}}">
                <span>이전</span>
                </a>
            </li>
        {{/hasPrev}}

        {{#paging.getNumber}}
            <li class="page-item {{#current}}active{{/current}}">
                <a class="page-link" href="?page={{.}}">
                <span>{{.}}</span>
                </a>
            </li>
        {{/paging.getNumber}}

        <!--다음이 있으면-->
        {{#hasNext}}
            <li class="page-item">
                <a class="page-link" href="?page={{next}}">
                <span>다음</span>
                </a>
            </li>
        {{/hasNext}}
        <!--다음이 없으면-->
        {{^hasNext}}
            <li class="page-item disabled">
                <a class="page-link" href="?page={{next}}">
                <span>다음</span>
                </a>
            </li>
        {{/hasNext}}

    </ul>
<a href="/questions/create" class="btn btn-primary">질문 등록하기</a>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-Uo2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>