<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">
    <!-- 질문 -->
    <h2 class="border-bottom py-2" th:text="${questions.title}"></h2>
    <div class="card my-3">
        <div class="card-body">
            <div class="card-text" th:utext="${@commonUtil.markdown(questions.content)}"></div>
            <!--text 대신 utext를 사용하는 이유는 text로 사용하게 되면 html태그가 이스케이프 처리되어 화면에 그대로 표시되기 때문-->
            <div class="d-flex justify-content-end">
                <div th:if="${questions.modifyDate != null}" class="badge bg-light text-dark p-2 text-start mx-3">
                    <div class="mb-2">modified at</div>
                    <div th:text="${#temporals.format(questions.modifyDate, 'yyyy-MM-dd HH:mm')}"></div>
                </div>
                <div class="badge bg-light text-dark p-2 text-start">
                    <div class="mb-2">
                        <span th:if="${questions.users != null}" th:text="${questions.users.nickname}"></span>
                    </div>
                    <div th:text="${#temporals.format(questions.nowtime, 'yyyy-MM-dd HH:mm:ss')}"></div>
                </div>
            </div>
            <div class="my-3">
                <a href="javascript:void(0);" class="recommend btn btn-sm btn-outline-secondary"
                   th:data-uri="@{|/questions/vote/${questions.uploadnumber}|}">
                    추천
                    <span class="badge rounded-pill bg-success" th:text="${#lists.size(questions.voter)}"></span>
                </a>
                <a th:href="@{|/questions/modify/${questions.uploadnumber}|}" class="btn btn-sm btn-outline-secondary"
                   sec:authorize="isAuthenticated()"
                   th:if="${questions.users != null and #authentication.getPrincipal().getUsername() == questions.users.nickname}"
                   th:text="수정"></a>
                <a href="javascript:void(0);" th:data-uri="@{|/questions/delete/${questions.uploadnumber}|}"
                   class="delete btn btn-sm btn-outline-secondary" sec:authorize="isAuthenticated()"
                   th:if="${questions.users != null and #authentication.getPrincipal().getUsername() == questions.users.nickname}"
                   th:text="삭제"></a> <!--href를 url로 사용하지 않는 이유는 사용하게 되면 바로 삭제되기 때문에 물어보고 삭제하기 위해서-->
            </div>
        </div>
    </div>
    <!-- 답변의 갯수 표시 -->
    <h5 class="border-bottom my-3 py-2" th:text="|${#lists.size(replysList)}개의 답변이 있습니다.|"></h5>
    <!-- 답변 반복 시작 -->
    <div class="card my-3" th:each="replys : ${replysList}" th:attr="data-id=${replys.uploadnumber}"
         th:style="'margin-left: ' + (${replys.depth} * 40) + 'px;'">
        <a th:id="|replys_${replys.uploadnumber}|"></a><!--a태그는 특정위치로 스크롤이 되게 도와준다-->
        <div class="card-body">
            <div th:if="${replys.deleted}" class="text-muted fst-italic">댓글이 삭제되었습니다.</div>

            <div th:unless="${replys.deleted}">
                <div class="card-text" th:utext="${@commonUtil.markdown(replys.content)}"></div>
                <div class="d-flex justify-content-end">
                    <div th:if="${replys.modifyDate != null}" class="badge bg-light text-dark p-2 text-start mx-3">
                        <div class="mb-2">modified at</div>
                        <div th:text="${#temporals.format(replys.modifyDate, 'yyyy-MM-dd HH:mm')}"></div>
                    </div>
                    <div class="badge bg-light text-dark p-2 text-start">
                        <div class="mb-2">
                            <span th:if="${replys.users != null}" th:text="${replys.users.nickname}"></span>
                        </div>
                        <div th:text="${#temporals.format(replys.nowtime,'yyyy-MM-dd HH:mm:ss')}"></div>
                    </div>
                </div>
                <div class="my-3">
                    <a href="javascript:void(0);" class="recommend btn btn-sm btn-outline-secondary"
                       th:data-uri="@{|/replys/vote/${replys.uploadnumber}|}">
                        추천
                        <span class="badge rounded-pill bg-success" th:text="${#lists.size(replys.voter)}"></span>
                    </a>
                    <a th:href="@{|/replys/modify/${replys.uploadnumber}|}" class="btn btn-sm btn-outline-secondary"
                       sec:authorize="isAuthenticated()"
                       th:if="${replys.users != null and #authentication.getPrincipal().getUsername() == replys.users.username}"
                       th:text="수정"></a>
                    <a href="javascript:void(0);" th:data-uri="@{|/replys/delete/${replys.uploadnumber}|}"
                       class="delete btn btn-sm btn-outline-secondary" sec:authorize="isAuthenticated()"
                       th:if="${replys.users != null and #authentication.getPrincipal().getUsername() == replys.users.username}"
                       th:text="삭제"></a>
                    <a href="javascript:void(0);" class="btn btn-sm btn-outline-secondary reply-button"
                       sec:authorize="isAuthenticated()" th:data-id="${replys.uploadnumber}">댓글쓰기</a>
                </div>
            </div>
        </div>
    </div>
    <!-- 답변 반복 끝  -->

    <!-- 답변 작성 -->
    <div id="replyFormContainer">
        <form th:action="@{|/replys/create/${questions.uploadnumber}|}" th:object="${replysForm}" method="post"
              class="my-3" id="replyForm">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
            <div th:replace="~{form_errors :: formErrorsFragment}"></div>  <!--form_errors.html의 파일을 적용시킨다 -->
            <input type="hidden" name="parentId" id="parentId">
            <textarea sec:authorize="isAnonymous()" disabled th:field="*{content}" class="form-control"
                      rows="10"></textarea> <!--비로그인 비활성화-->
            <textarea sec:authorize="isAuthenticated()" th:field="*{content}" class="form-control" rows="10"></textarea>
            <!--로그인 활성화-->
            <input type="submit" value="답변등록" class="btn btn-primary my-2">
        </form>
    </div>
</div>
<script layout:fragment="script" type='text/javascript'>
const delete_elements = document.getElementsByClassName("delete");
        Array.from(delete_elements).forEach(function(element) {
            element.addEventListener('click', function() {
                if(confirm("정말로 삭제하시겠습니까?")) {
                    location.href = this.dataset.uri;
                };
            });
        });

const urlParams = new URLSearchParams(window.location.search);
const voted = urlParams.get('voted');

        if (voted === 'true') {
            alert("이미 추천하셨습니다.");
        }

const recommend_elements = document.getElementsByClassName("recommend");
        Array.from(recommend_elements).forEach(function(element) {
            element.addEventListener('click', function() {
                if (confirm("정말로 추천하시겠습니까?")) {
                    location.href = this.dataset.uri;
                }
            });
        });

const replyButtons = document.getElementsByClassName("reply-button");
    Array.from(replyButtons).forEach(function(button) {
        button.addEventListener('click', function() {
            const replyId = this.getAttribute('data-id');
            const parentIdInput = document.getElementById('parentId');
            const replyFormContainer = document.getElementById('replyFormContainer');
            if (parentIdInput && replyFormContainer) {
                parentIdInput.value = replyId;
                const cardBody = this.closest('.card-body');
                cardBody.appendChild(replyFormContainer);
                replyFormContainer.scrollIntoView({ behavior: 'smooth' });
            }
        });
    });

document.getElementById("replyForm").addEventListener("submit", function(event) {
    const contentField = this.querySelector("textarea[name='content']");
    if (contentField && contentField.value.trim() === "") {
        event.preventDefault();
        alert("댓글 내용을 입력해주세요.");
    }
});

</script>
</html>