<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">
        <div class="makeflex">
            <button class="showmypost" data-type="question">내가 작성한 글</button>
            <button class="showmypost" data-type="replys">내가 작성한 댓글</button>
        </div>
        <table class="table">
            <thead class="table-dark">
            <tr class="text-center">
                <th>번호</th>
                <th style="width:50%">제목</th>
                <th>작성일시</th>
            </tr>
            </thead>

            <tbody>
            <tr class="text-center" th:each="questions, loop : ${Qpaging}"> <!--th:each 는 반복문을 의미한다-->
                <td th:text="${Qpaging.getTotalElements - (Qpaging.number * Qpaging.size) - loop.index}"></td> <!--번호를 역순으로 출력하게 설정-->
                <td class="text-start">
                    <a th:href="@{|/questions/detail/${questions.uploadnumber}|}" th:text="${questions.title}"></a>  <!--자바 객체의 값을 더할때는 ||를 덮어야한다 -->
                </td>
                <td th:text="${#temporals.format(questions.nowtime, 'yyyy-MM-dd HH:mm:ss')}"></td> <!--시간 출력형식을 변경해줌-->
            </tr>
            </tbody>
        </table>
        <div th:if="${!Qpaging.isEmpty()}">
            <ul class="pagination justify-content-center">
                <li class="page-item" th:classappend="${!Qpaging.hasPrevious or Qpaging.number <= 9} ? 'disabled'"> <!--이전 페이지가 없거나 페이지가 10아래인 경우 이전 링크를 비활성화-->
                    <a class="page-link" href="javascript:void(0)"
                       th:data-page="${(Qpaging.number/10-1)*10}">
                        <span>이전</span>
                    </a>
                </li> <!--출력할 페이지를 표시해준다-->
                <li th:each="page: ${#numbers.sequence(1, Qpaging.totalPages)}"
                    th:if="${page > Qpaging.number/10*10 and page <= Qpaging.number/10*10+10}"
                    th:classappend="${page == Qpaging.number+1} ? 'active'" class="page-item">
                    <a th:text="${page}" class="page-link" href="javascript:void(0)" th:data-page="${page-1}"></a>
                </li>
                <li class="page-item" th:classappend="${((Qpaging.totalPages-1)/10 - Qpaging.number/10 == 0) or !Qpaging.hasNext} ? 'disabled'"> <!--다음 페이지가 없거나 마지막 단위일 경우 다음 링크를 비활성화-->
                    <a class="page-link" href="javascript:void(0)" th:data-page="${(Qpaging.number/10+1)*10}">
                        <span>다음</span>
                    </a>
                </li>
            </ul>
    </div>
    <form th:action="@{/user/showQNA}" method="get" id="searchForm">
        <input type="hidden" id="page" name="page" th:value="${Qpaging.number}">
    </form>
</div>
<script layout:fragment="script" type='text/javascript'>
const page_elements = document.getElementsByClassName("page-link");
Array.from(page_elements).forEach(function(element) {
    element.addEventListener('click', function() {
        document.getElementById('page').value = this.dataset.page;
        document.getElementById('searchForm').submit();
    });
});
</script>
</html>