<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">
        <div class="makeflex">
            <button class="showmypost" data-type="question">내가 작성한 글</button>
            <button class="showmypost" data-type="replys">내가 작성한 댓글</button>
        </div>
        <table class="table">
            <thead class="table-dark">
            <tr class="text-center">
                <th>번호</th>
                <th style="width:50%">글 목록</th>
                <th>작성일시</th>
            </tr>
            </thead>
            <tbody>

            <!-- Questions -->
            <tr class="text-center" th:if="${type == 'question'}" th:each="questions, loop : ${Qpaging}">
                <td th:text="${Qpaging.getTotalElements() - (Qpaging.number * Qpaging.size) - loop.index}"></td>
                <td class="text-start">
                    <a th:href="@{|/questions/detail/${questions.uploadnumber}|}" th:text="${questions.title}"></a>
                </td>
                <td th:text="${#temporals.format(questions.nowtime, 'yyyy-MM-dd HH:mm:ss')}"></td>
            </tr>
            <!-- Replies -->
            <tr class="text-center" th:if="${type == 'replys'}" th:each="replys, loop : ${Rpaging}">
                <td th:text="${Rpaging.getTotalElements() - (Rpaging.number * Rpaging.size) - loop.index}"></td>
                <td class="text-start">
                    <a th:href="@{|/questions/detail/${replys.uploadnumber}|}" th:text="${replys.content}"></a>
                </td>
                <td th:text="${#temporals.format(replys.nowtime, 'yyyy-MM-dd HH:mm:ss')}"></td>
            </tr>
            </tbody>
        </table>
    <div th:if="${(type == 'question' and !Qpaging.isEmpty()) or (type == 'replys' and !Rpaging.isEmpty())}">
        <ul class="pagination justify-content-center">
            <li class="page-item" th:classappend="${(type == 'question' and (!Qpaging.hasPrevious() or Qpaging.number <= 9)) or (type == 'replys' and (!Rpaging.hasPrevious() or Rpaging.number <= 9))} ? 'disabled'">
                <a class="page-link" href="javascript:void(0)" th:data-page="${(type == 'question' ? (Qpaging.number/10-1)*10 : (Rpaging.number/10-1)*10)}" th:data-type="${type}">
                    <span>이전</span>
                </a>
            </li>
            <li th:each="page: ${#numbers.sequence(1, type == 'question' ? Qpaging.totalPages : Rpaging.totalPages)}" th:if="${page > (type == 'question' ? Qpaging.number/10*10 : Rpaging.number/10*10) and page <= (type == 'question' ? Qpaging.number/10*10+10 : Rpaging.number/10*10+10)}"
                th:classappend="${page == (type == 'question' ? Qpaging.number+1 : Rpaging.number+1)} ? 'active'" class="page-item">
                <a th:text="${page}" class="page-link" href="javascript:void(0)" th:data-page="${page-1}" th:data-type="${type}"></a>
            </li>
            <li class="page-item" th:classappend="${((type == 'question' ? ((Qpaging.totalPages-1)/10 - Qpaging.number/10 == 0) : ((Rpaging.totalPages-1)/10 - Rpaging.number/10 == 0)) or (type == 'question' ? !Qpaging.hasNext() : !Rpaging.hasNext()))} ? 'disabled'">
                <a class="page-link" href="javascript:void(0)" th:data-page="${(type == 'question' ? (Qpaging.number/10+1)*10 : (Rpaging.number/10+1)*10)}" th:data-type="${type}">
                    <span>다음</span>
                </a>
            </li>
        </ul>
    </div>
    <form th:action="@{/user/showQNA}" method="get" id="searchForm">
        <input type="hidden" id="type" name="type" value="${type}">
        <input type="hidden" id="page" name="page" th:value="${type == 'question'} ? ${Qpaging.number} : ${Rpaging.number}">
    </form>
</div>
<script layout:fragment="script" type='text/javascript'>
const page_elements = document.getElementsByClassName("page-link");
Array.from(page_elements).forEach(function(element) {
    element.addEventListener('click', function() {
        document.getElementById('type').value = this.dataset.type;
        document.getElementById('page').value = this.dataset.page;
        document.getElementById('searchForm').submit();
    });
});

const showmypost_elements = document.getElementsByClassName("showmypost");
Array.from(showmypost_elements).forEach(function(element) {
    element.addEventListener('click', function() {
        document.getElementById('type').value = this.dataset.type;
        document.getElementById('searchForm').submit();
    });
});
</script>
</html>